# Task 12

In [1]:
import pandas as pd                  # imoprting pandas library as pd
a = pd.read_csv('weather_data.csv')  # assing a as given value of csv file
a                                    # output of data of csv file

          day  temperature  windspeed   event
0  01-01-2017         32.0        6.0    Rain
1  01-04-2017          NaN        9.0   Sunny
2  01-05-2017         28.0        NaN    Snow
3  01-06-2017          NaN        7.0     NaN
4  01-07-2017         32.0        NaN    Rain
5  01-08-2017          NaN        NaN   Sunny
6  01-09-2017          NaN        NaN     NaN
7  01-10-2017         34.0        8.0  Cloudy
8  01-11-2017         40.0       12.0   Sunny

## Assignment 1 (3 Marks)

1. Write a code to **get the dates** when the **event was sunny** from the provided csv file

#### Output 

- Table consisiting of dates as well as event

```
           day  event
1  01/04/2017  Sunny
5  01/08/2017  Sunny
8  01/11/2017  Sunny
```

In [ ]:
#WRITE YOUR CODE HERE
b = a[a['event'] == 'Sunny']   # assing b with all the value of event sunny
b[['day','event']]             # output of b only with day and event

## Assignment 2 (5 Marks)

2. Write a code to get make a dataframe from the given csv file consisting of the below given parameters and print **Data doesn't exist** if data not found and if data found then find the average temprature from the obtained data dataframe

#### Parameters
- Day
- Event
- Temperature

Selection of data should be done on the basis of temprature **higher than or equal to 32**

#### Output
1. If data not found for above given condition then **Data not found** should be shown
2. If data found then calculate the average temprature from the obtained temprature and print average temprature as well as the dataframe

#### Expected Output
```
          day  temperature   event
0  01/01/2017         32.0    Rain
4  01/07/2017         32.0    Rain
7  01/10/2017         34.0  Cloudy
8  01/11/2017         40.0   Sunny

Average temprature:  34.5
```

In [2]:
#WRITE YOUR CODE HERE
c = pd.DataFrame(a[a['temperature'] >= 32])    # c equal to datafrmae of value of a only with temp grether than or equal to 32
if(len(c)>0):                                  # if len of c is grether than 0 then it is ture and it prints output 1
    print(c[['day','temperature','event']],'\nAverage temprature: ',(c['temperature'].sum(axis=0))/len(c)) #output 1 (**c['temperature'].sum(axis=0))** is equal to sum of all the temp which are grether than or equal to 32 of axis 0 )
else:
    print('Data not found ')                   # output if condition is false

          day  temperature   event
0  01-01-2017         32.0    Rain
4  01-07-2017         32.0    Rain
7  01-10-2017         34.0  Cloudy
8  01-11-2017         40.0   Sunny
Average temprature:  34.5

## Assignment 3 (7 Marks)

3. Write a code using functions where the first function will get the mean value of temperature using **describe()** function and send the data to the second function which selects all the dates with temperature not defined, windspeed greater than the mean windspeed and event as Sunny

#### Parameters

- Day
- Windspeed
- Temperature

### Output
1. If data not found for above given condition then **Data not found** should be shown
2. If data found then select all the data which have **Windspeed greater than the mean windspeed, temperature as NaN and event as Sunny** and print it

#### Expected Output
```
          day  temperature  windspeed  event
1  01/04/2017          NaN        9.0  Sunny
```

In [42]:
def describe():               # creating function describe 
    x = pd.DataFrame(a)       # assing x equal to data frame of a
    y=x['windspeed'].mean()   # y equal to mean value of windspeed of dataframe x
    return y                  # return the value of y
describe()                    # calling the function describe

8.4

In [69]:
#WRITE YOUR CODE HERE
def xyz():                                            # creating function describe 
    x= (a[a['windspeed'] >= describe()])              # x used to store all the value which are greter than equal describe function
    j= (x[x['temperature'] == None ])                    # j use to store 
    k= (j[j['event'] == 'Sunny'])                     # k use to store all the value in which event is sunny 
    z= k[['day','temperature','windspeed','event']]   # output of z with all the parameters 
    return z                                          # return thr value of z
xyz()                                                 # calling the functuion xyz

Empty DataFrame
Columns: [day, temperature, windspeed, event]
Index: []

In [63]:
fun=xyz()                     # assing fun equal to value of function xyz
if len(fun) != 0:             # if len of fun is not equal to 0 it is true
    print(fun)                # output if it is true
else:
    print("Data not present") # output if it is false

          day  temperature  windspeed  event
1  01-04-2017          NaN        9.0  Sunny

In [ ]:
describe function
# k use to store all the value in which event is sunny