## What is Pandas?

- It allows for fast analysis and data cleaning and preparation
- Built-in visulization features
- Work with data from wide variety of sources

## How to install pandas?

#### pip install pandas

Run the above command in the command prompt

In [1]:
#How to import pandas library
import pandas as pd

In [2]:
#How to import csv file using pandas
data = pd.read_csv("iris.csv")

By doing the above step you have successfully imported the csv file in the variable **data** you now use the variable to access the data in the csv file

In [5]:
#This is how you check the type of data for a variable
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
#This how you get statistical data 
data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [20]:
#This how to get and store the data of a particular field
x = data[["species"][2]]
x

IndexError: list index out of range

In [7]:
#This how to get and store multiple data from csv
x = data[["sepal_length", "sepal_width","petal_length","petal_width"]]
x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [8]:
#This how you can select range of rows or column from the csv file
x = data.iloc[:,0:4] #(range of rows, range of columns)
x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [9]:
#This is another way of geting the above result
x = data.iloc[:,4]  
x

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [12]:
#This is how to select data based on some condition
x = data[data['species']]
x["species"]

KeyError: "None of [Index(['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',\n       'setosa', 'setosa', 'setosa',\n       ...\n       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',\n       'virginica', 'virginica', 'virginica', 'virginica', 'virginica'],\n      dtype='object', length=150)] are in the [columns]"

In [11]:
#How to check if the data is present or not
x = data[data['species'] == 'pandas']
if len(x) == 0:
    print("Data not present")
else:
    print(x)

Data not present

### Dataframes

- Two-dimensional, size-mutable, potentially heterogeneous tabular data.

- Data structure also contains labeled axes (rows and columns). Arithmetic operations align on both row and column labels. Can   be thought of as a dict-like container for Series objects. The primary pandas data structure.

In [19]:
#How to create dataframes
df = pd.DataFrame(data)
df["species"][145]

'virginica'

In [7]:
#How to create dataframes with selected rows
df = pd.DataFrame()

In [14]:
#How to store data from dataframe to csv
df.to_csv('test.csv')

### Using function to perform some task

In [15]:
inp = float(input("Enter the sepal length"))
y = seperate(inp)
y

Enter the sepal length5.0

NameError: name 'seperate' is not defined