<H1> 2. Variables in python

### Topics to be covered
1. Creating Variables
2. Assigning different values 
3. Assigning a single value to multiple variables
4. Assigning a different values to multiple variables

# Learn By Doing

<H3>Creating Variables

Variables are containers for storing data values. 
    
Unlike other programming languages, Python has no command for declaring a variable. 

A variable is created the moment you first assign a value to it.

In [1]:
#Example:
x = 5
print(x)

5

In [12]:
#try one more example here
y = 5 
y
u = 6 
print ("",y,u)

 5 6

Create two variables with proper name and assign them some integer values and print them !!

In [3]:
#Example: 
var1 = 5
var2 = 8
print (var1,var2)

5 8

In [4]:
#try one more example here

<H4>Try giving float values and print them..!!

In [5]:
#Example :
varf = 0.01
print(varf)

0.01

In [6]:
#try one more example here

<H4>Now try to store a string inside a variable and print them..!!

In [7]:
#Example :
name1 = "Aniket"
print(name1)

Aniket

In [8]:
#try one more example here

<H2> Assigning different values

#### Variables do not need to be declared with any particular type 
and can even change type after they have been set.

In [9]:
# An integer assignment 
age = 45                      
  
# A floating point 
salary = 1456.8             
  
# A string   
name = "John"              
  
print(age) 
print(salary) 
print(name)

45
1456.8
John

In [16]:
type(age)

int

In [17]:
type(salary)

float

In [18]:
type(name)

str

<h3>Now lets try changing values of Variables

Assign value to a variable & print that value
and change the value assigned and again print it..!!

In [10]:
#Example :
x = 12
print(x)

12

In [11]:
x = 24
print(x)

24

In [12]:
#try here

<h3> Lets see how to check type of a variable

In [13]:
#Example:
var4 = "abc"
type(var4)

str

In [14]:
#try different types of variable here like int, float,etc

<h3> Assigning a single value to multiple variables: 
<h4> Also Python allows to assign a single value to several variables simultaneously.
    
For example:

In [13]:
a = b = c = 10          
  
print(a) 
print(b) 
print(c)

10
10
10

In [5]:
#try one more example here to assign single "float" value to multiple variables

<h3>Assigning a different values to multiple variables:

In [6]:
a, b, c = 2020, 5.02, "Capstone course"        
  
print(a) 
print(b) 
print(c)

2020
5.02
OTP2020

In [ ]:
#try one more example here to assign different value to multiple variables