# <center> TOPIC - NUMBERS
## <center> AUTHOR : R-LABS

Numbers:
1. Different types of numbers used in Python.
2. Mathematical Operations 
3. Type Conversion from one data type to another.
4. Mathematical Functions.
5. Random Numbers.
6. Trigonometric Functions.
7. Angular Conversion.
8. Mathematical Constants.

# Learn By Doing

1. Different types of numbers used in Python: There are different types of number in python such as integer, float, complex number.

In [ ]:
# Try using different types of numbers in Python
# initialise variables assigning them values and print them just by writing their name
float_var1 = 5.2
print(float_var1)

5.2

In [ ]:
# now try the same as shown above at your own for different types

In [ ]:
type(float_var1) # you can also check the type of the variable, that which type of number it is
# try doing more examples by yourself

float

In [ ]:
#we have understood the initialisation of variables so, now let us understand the concept of "deleting variables"
#this can be done by using the "del" keyword
a = 45
print(a)

45

In [ ]:
del a
#print(a)

Mathematical Operations:


*   try doing simple operations such as addition, subtraction, multiplication, division. 
*   Perform them on numbers of same data type and different as well.


*   Note: Be careful while performing division.

In [ ]:
# Basic mathematical operations

a = 10
b = 5
sum = a+b
c = 15
d = 12
sub = c-d
e = 5
f = 4
mul = e*f
g = 15
h = 3
div = g/h           #dividing two integers will always give a float value in as a result.
print("sum is: ", sum)
print("result of subtraction is:", sub)
print("the result of multiplication is: ",mul)
print("the result of division gives: ",div)

sum is:  15
result of subtraction is: 3
the result of multiplication is:  20
the result of division gives:  5.0

In [ ]:
#Addition of complex numbers

# assign a complex number to a variable ‘E’
E = ( 1 + 2j)
# assign a complex number to a variable ‘F’
F = ( 3 +5j)
#print sum of the two complex numbers
print( E + F)

(4+7j)

Number Type Conversion:
1. Use the built-in functions to convert them explicitly.

In [ ]:
# Convert the basic numeric types.
num_int = 123
num_flo = 1.23

num_new = num_int + num_flo
print("data type of num_int is ", type(num_int))
print("data type of num_flo is ", type(num_flo))

print("Value of num_new is ", num_new)
print("data type of num_new is ", type(num_new))

data type of num_int is  <class 'int'>
data type of num_flo is  <class 'float'>
Value of num_new is  124.23
data type of num_new is  <class 'float'>

Mathematical Functions:
1. abs( ): gives the absolute value of x
2. exp( ): returns the exponential of x.
3. log( ): returns the natural logarithm of x, for x>0.
4. sqrt( ): returns the square root of   x, for x>0.

In [ ]:
# perform those basic maths using Python easily that confuses you.
abs(-45)

45

In [ ]:
import math
math.exp(100.12)

3.0308436140742566e+43

In [ ]:
import math
math.log(100.12)

4.6063694665635735

In [ ]:
import math
math.sqrt(64)

8.0

Random Numbers:
1. choice( ): returns random item from a list, tuple or string.
2. randrange( ): returns a randomly selected element from range( start, stop, step).
3. shuffle( ): It randomizes the items of a list in place.

In [ ]:
# try out some functions using random numbers
import random
random.choice([1,2,3,5,9])

9

In [5]:
# Python code to demonstrate the working of
# randrange()
 
import random
 
# Using randrange() to generate numbers from 0-100
print ("Random number from 0-100 is : ",end="")
print (random.randrange(100))
 
# Using randrange() to generate numbers from 50-100
print ("Random number from 50-100 is : ",end="")
print (random.randrange(50,100))
 
# Using randrange() to generate numbers from 50-100
# skipping 5
print ("Random number from 50-100 skip 5 is : ",end="")
print (random.randrange(50,100,5))

Random number from 0-100 is : 91
Random number from 50-100 is : 94
Random number from 50-100 skip 5 is : 70

In [ ]:
import random
list1 = [20, 16, 10, 5]
random.shuffle(list1)
print(list1)

[20, 5, 10, 16]

Trigonometric Functions:
1. sin(): return the sine of x radians.
2. tan(): return the tangent of x radians.
3.cos(): return the cosine of x radians.

In [ ]:
# sin(), cos(), tan()
import math 
math.sin(3)

0.1411200080598672

In [ ]:
import math
math.cos(3)

-0.9899924966004454

In [ ]:
import math 
math.tan(3)

-0.1425465430742778

Angular Conversion:

In [ ]:
# try converting degrees to radians and vice versa
#importing math module
import math
# angle x in radians
x = 10.25
print("x in radians",x)
#converting to degrees
x = math.degrees(x)
print("x in degrees: ", x)
#now again converting to radians
x = math.radians(x)
print("x in radians: ", x)

x in radians 10.25
x in degrees:  587.2817400090938
x in radians:  10.25

Mathematical Constant:

In [ ]:
# pi and e
# importing “math” for mathematical operation
import math
# returning the value of constant pi
print("the value of constant pi is: ", end="")
print(math.pi)
# returning the value of constant e
print("the value of constant e is: ", end="")
print(math.e)

the value of constant pi is: 3.141592653589793
the value of constant e is: 2.718281828459045

Codes:

EXAMPLE 01: Write a python script to perform operations such as addition, subtraction, multiplication and division using all the data types.

In [ ]:
# initialise variables on which operations are to be performed.
# write a code to add, subtract etc using data types such as int, float.

EXAMPLE 02: Write a python script to find the largest number.

In [ ]:
# initialise a sequence having numbers at random

#write a code to find the largest number using a simple function used in numbers

EXAMPLE 03: Write a python script to check the data type, to which class a variable belongs.

In [ ]:
# initialise variables belonging to class int, float

# write a code to check which type of class they belong to

EXAMPLE 04: Write a python script to obtain a random number from a particular range.

In [ ]:
# generate a range

# write a code to get any random number from the generated range

EXAMPLE 05: Write a python script to find the arctan2 between the positive x-axis and the rays to the point.

In [ ]:
# determine the theta values using atan2() function.